face
{
    height: 3px;
    width: 3px;
    float: right;
}
score
{
    float: right;
    width: 100px;
    height: 100px;
}

.Options
{
    width: 100px;
    height: 50px;
    background-color:aqua;
    display:inline-block;
}

#main
{
    background-color: darkolivegreen;
    min-height: 1700px;
}

#bottom
{
    background-color: darkolivegreen;
    
}
/* Centered text */
.centered {
    width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*img {
    max-width: 50%;
    max-height: 50%;
}*/
/*#options {
    display: flex;
    flex-wrap: wrap;
  align-content: flex-start;
  }*/
  body {
    background-image: url('example_img_emoji.jpg');
  }
 /* put[type="radio"] {
    display: none;
  }
  
  /* Style the custom radio button */
  input[type="radio"] + label {
    display: inline-block;
    position: relative;
    padding-left: 25px; /* Adjust as needed */
    cursor: pointer;
  }
  
  /* Style the radio button indicator */
  
  input[type="radio"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px; /* Adjust as needed */
    width: 16px; /* Adjust as needed */
    height: 16px; /* Adjust as needed */
    border-radius: 50%;
    border: 1px solid #000; /* Adjust color as needed */
    background-color: #fff; /* Adjust color as needed */
  }
  
  /* Style the radio button indicator when selected */
  input[type="radio"]:checked + label:before {
    background-color: #000; /* Adjust color as needed */
  } 

  
  
  
  
  
  
  