face
{
    height: 3px;
    width: 3px;
    float: right;
}
score
{
    float: right;
    width: 100px;
    height: 100px;
}

.Options
{
    width: 100px;
    height: 30px;
    background-color:aqua;
}

#main
{
    background-color: darkolivegreen;
    min-height: 400px;
}

#bottom
{
    background-color: darkolivegreen;
    
}
/* Centered text */
.centered {
    width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*img {
    max-width: 50%;
    max-height: 50%;
}*/
/*#options {
    display: flex;
    flex-wrap: wrap;
  align-content: flex-start;
  }*/
  body {
    background-image: url('example_img_emoji.jpg');
  }