face
{
    height: 8px;
    width: 8px;
    float: left;
}

.Options
{
    width: 100px;
    height: 30px;
    background-color: aqua;
}

#main
{
    background-color: darkolivegreen;
    min-height: 400px;
}

#bottom
{
    background-color: darkolivegreen;
    
}